.comment__author{
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  margin: 12px 0 0;
}
@media screen and (max-width: 1024px){
  .comment__author{
    margin-top: 17px;
  }
}
@media screen and (max-width: 1023px){
  .comment__author{
    text-align: center;
  }
}